.App {
  text-align: center;
  height: 90vh;
}

.leaflet-container {
  position: relative;

  width: 90vw;
  height: 90vh;
}

.numberMarker {
  background: rgba(0, 0, 0, 0);
}

.loader {
  position: absolute;
  @include mix.flex-center();
  flex-direction: column;
  inset: 0;

  background: rgba(255, 255, 255, 0.342);
  z-index: 9999;
}


.nowloading {
  margin-top: 4rem;

  color: black;
  font-size: 2rem;
  line-height: 1.5rem;
}